exclude: '(^lunarsky/data/)'

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.3.0
      hooks:
          - id: trailing-whitespace
          - id: check-ast
          - id: check-json
          - id: check-merge-conflict
          - id: check-xml
          - id: check-yaml
          - id: debug-statements
          - id: end-of-file-fixer
          - id: mixed-line-ending
            args: ['--fix=no']
    - repo: https://github.com/pycqa/flake8
      rev: 3.7.9
      hooks:
      - id: flake8
        additional_dependencies:
            - flake8-builtins
            - flake8-comprehensions
            - flake8-pytest
    - repo: https://github.com/psf/black
      rev: 22.3.0
      hooks:
          - id: black
            language_version: python3.8
            args:
              - --line-length=90
